.navbar {
    padding: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(24, 25, 37);
}

.headerCont {
    margin: -5px;
}

.titleCont {
    font-size: 1vw;
    display: flex;
}

.manga {
    color: white;
}

.reader {
    color: rgb(255, 236, 129);
}

.caption {
    color: white;
    font-size: .75vw;
}

.mangaDex {
    color: white;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.Dex {
    color: white
}

.mangaDex:hover {
    color: rgb(255, 131, 74);
}

.searchCont {
    align-items: center;
    height: 2vw;
    width: 1vw;
    width: auto;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    overflow: hidden;
}

.searchBar {
    font-size: 1vw;
    width: 15vw;
    padding: 10px;
    color: white;
    border: none;
    background-color:rgb(58, 55, 70);
}

.searchBtn {
    font-size: 1vw;
    padding: 10px;
    border: none;
    color: white;
    background-color: rgb(87, 87, 134);
    transition: all .2s ease-in-out;
}

.searchBtn:hover {
    cursor: pointer;
    color: rgb(87, 87, 134);
    background-color: white;
}

.searchBar:focus {
    outline: none;
}

.menu {
    filter: invert(100%);
    height: 2vw;
    width: auto;
    border-radius: 100%;
}

.menu:hover {
    cursor: pointer;
}

.sideBarContainer {
    display: flex;
    justify-content: flex-end;
}

.sideBar {
    border-top: 1px solid rgb(58, 55, 70);
    animation: dropDown .5s ease-in-out;
    background-color: rgb(24, 25, 37);
    height: 100%;
    width: 100%;
    transition: all .5s ease-in-out;
}

.sideBarOption {
    padding: 10px;
}

@keyframes dropDown  {
    0% {
        max-height: 0vh;
    }
    100% {
        max-height: 100vh;
    }
}

.sideBarOption {
    color: white;
    transition: all .1s ease-in-out;
}

.sideBarOption:hover {
    cursor: pointer;
    background-color: rgb(58, 55, 70);
}