.renderedSearches {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.series {
    animation: load 1s ease-in-out;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 20em;
    width: 19.1vh;
    margin: 1vw;
    overflow: hidden;
}

.series:hover {
    cursor: pointer;
}

.series:hover > .mangaCover {
    transform: scale(1.1)
}

.test {
    font-size: 200px;
    color: white;
}

.title {
    background-color: rgb(24, 25, 37);
    text-align: center;
    color: white;
    margin: -10px;
    padding: 10px;
    width: 100%;
    letter-spacing: 2px;
    font-size: 1vw;
    z-index: 2;
}

.mangaCover {
    height: 100%;
    width: auto;
    margin: 10px;
    transition: all .2s ease-in-out;
}

@keyframes load {
    0% {
        opacity: 0;
        transform: scale(.9)
    }
    100% {
        opacity: 1;
        transform: scale(1)
    }
}

.modal {
    color: white;
}

.mangaDescription {
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    margin: 50px;
    padding: 20px;
    width: 10%;
    font-size: 1vw;
}

.hide {
    display: none;
}

@media screen and (max-height: 500px) {
    .series {
        height: 50vh;
        width: 20vh;
    }
    .title {
        font-size: 1.5vw;
    }    
}

@media screen and (max-width: 900px) {
    .series {
        height: 20vh;
        width: 10vh;
    } 
}
@media screen and (max-width: 1500px) {
    .title {
        font-size: 1.8vw;
    }    
}